{% if item.aprobado == 0 %}
<div style='background-color: grey; width: 100px; heigth: 25px; border-radius: 15px; color: #FFF; text-align: center;'>
    Pendiente
</div>
{% endif %}
{% if item.aprobado == 1 %}
<div style='background-color: green; width: 100px; heigth: 25px; border-radius: 15px; color: #FFF; text-align: center;'>
    Aprobado
</div>
{% endif %}
{% if item.aprobado == 2 %}
<div style='background-color: red; width: 100px; heigth: 25px; border-radius: 15px; color: #FFF; text-align: center;'>
    Rechazado
</div>
{% endif %}