{% if item.parentId != null %}
<a href="/admin/?entity=Comunicado&action=show&menuIndex=6&submenuIndex=-1&sortField=id&sortDirection=DESC&page=1&referer=%252Fadmin%252F%253Fentity%253DComunicadoPA%2526action%253Dlist%2526menuIndex%253D7%2526submenuIndex%253D-1%2526sortField%253Did%2526sortDirection%253DDESC%2526page%253D1&id={{item.parentId}}">
    {{item.titulo}}
</a>
{% endif %}