<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
    .form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
body{
    background-color: #F0F0F0;
{#height: 100%;#}

}
</style>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-2">
{#            <h1 class="text-center login-title">Pase.Fit Admin</h1>#}
            <div class="account-wall">
{#                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"  alt="">#}
                <center> <img  src="/images/logo2.png"  alt="" style="border-radius: 20px; height: 100px"></center>
                {# This removes totally the navigation #}
                {% block navigation_items '' %}

                {% block main %}
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                          <center><div class="{{ type }}" style="color: blue">
                                {{ message|trans({}, 'FOSUserBundle') }}
                                </div></center>
                        {% endfor %}
                    {% endfor %}

                    {% block fos_user_content %}
                        {% if error %}
                              <center><div  style="color: red">Usuario o contraseña incorrectos.</div></center>
                        {% endif %}

                        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                            <fieldset>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                <div class="form-group">
                                    <label for="username" class="control-label required">
                                        {{ 'security.login.username'|trans({}, 'FOSUserBundle') }}
                                    </label>

                                    <div>
                                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>

                                    <div>
                                        <input type="password" id="password" name="_password" required="required" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="remember_me">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                    </label>
                                </div>

                                <div class="form-group">
                                    <div id="form-actions-row">
                                        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" style="background-color: #273591">
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    {% endblock fos_user_content %}

                {% endblock %}

            </div>
        </div>
    </div>
</div>
                
                {#<footer style="background-color: #000;text-align: center;height: 100px;"><img style="width: 17%;margin-top: 5px;margin-bottom: 5px;" src="{{ asset('bundles/payadmin/images/pasefit.png') }}" alt="Pase.Fit" />
        </footer>#}
         <footer style="background-color: #273591;text-align: center;margin-bottom: 0px;position: absolute;bottom: 0;width: 100%;height: 70px"></footer>
                </body>
