{% macro render_menu_item(item, translation_domain) %}
    {% if item.type == 'divider' %}
        {{ item.label|trans(domain = translation_domain) }}
    {% else %}
        {% set menu_params = { menuIndex: item.menu_index, submenuIndex: item.submenu_index } %}
        {% set path =
            item.type == 'link' ? item.url :
            item.type == 'route' ? path(item.route, item.params) :
            item.type == 'entity' ? path('easyadmin', { entity: item.entity, action: 'list' }|merge(menu_params)|merge(item.params)) :
            item.type == 'empty' ? '#' : ''
        %}

        {# if the URL generated for the route belongs to the backend, regenerate
           the URL to include the menu_params to display the selected menu item
           (this is checked comparing the beginning of the route URL with the backend homepage URL)
        #}
        {% if item.type == 'route' and (path starts with path('easyadmin')) %}
            {% set path = path(item.route, menu_params|merge(item.params)) %}
        {% endif %}

        <a href="{{ path }}" {% if item.target|default(false) %}target="{{ item.target }}"{% endif %}>
            {% if item.icon is not empty %}<i class="fa {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label|trans(domain = translation_domain) }}</span>
            {% if item.children|default([]) is not empty %}<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>{% endif %}
        </a>
    {% endif %}
{% endmacro %}

{% import _self as helper %}

{% block main_menu_before %}{% endblock %}

<ul class="sidebar-menu" data-widget="tree" data-animation-speed="250">
    {% set _menu_items = easyadmin_config('design.menu') %}

    {% block main_menu %}
        {% for item in _menu_items %}
            {% block menu_item %}
                {% if item.entity == 'ComunicadoPA' and 'ROLE_MAESTRO' in app.user.roles 
                or item.entity == 'ComunicadoRA' and 'ROLE_MAESTRO' in app.user.roles 
                or item.entity == 'MensajeRA' and 'ROLE_MAESTRO' in app.user.roles 
                or item.entity == 'MensajePA' and 'ROLE_MAESTRO' in app.user.roles 
                or item.entity == 'Alumno' and 'ROLE_MAESTRO' in app.user.roles 
                or item.entity == 'Materia' and 'ROLE_MAESTRO' in app.user.roles 
                or item.entity == 'Curso' and 'ROLE_MAESTRO' in app.user.roles 
                or item.entity == 'Division' and 'ROLE_MAESTRO' in app.user.roles 
                or item.entity == 'User' and 'ROLE_MAESTRO' in app.user.roles 
                or item.entity == 'Ciclo' and 'ROLE_MAESTRO' in app.user.roles 
                or item.entity == 'Comunicado' and 'ROLE_MAESTRO' in app.user.roles 
                %}
                {% elseif 
                item.entity == 'Alumno' and 'ROLE_PRECEPTOR' in app.user.roles 
                or item.entity == 'Materia' and 'ROLE_PRECEPTOR' in app.user.roles 
                or item.entity == 'Curso' and 'ROLE_PRECEPTOR' in app.user.roles 
                or item.entity == 'Division' and 'ROLE_PRECEPTOR' in app.user.roles 
                or item.entity == 'User' and 'ROLE_PRECEPTOR' in app.user.roles 
                or item.entity == 'Ciclo' and 'ROLE_PRECEPTOR' in app.user.roles 
                %}
                {% else %}
                <li class="{{ item.type == 'divider' ? 'header' }} {{ item.children is not empty ? 'treeview' }} {{ app.request.query.get('menuIndex')|default(-1) == loop.index0 ? 'active' }} {{ app.request.query.get('submenuIndex')|default(-1) != -1 ? 'submenu-active' }}">
                    {{ helper.render_menu_item(item, _entity_config.translation_domain|default('messages')) }}

                    {% if item.children|default([]) is not empty %}
                        <ul class="treeview-menu">
                            {% for subitem in item.children %}
                                {% block menu_subitem %}
                                    <li class="{{ subitem.type == 'divider' ? 'header' }} {{ app.request.query.get('menuIndex')|default(-1) == loop.parent.loop.index0 and app.request.query.get('submenuIndex')|default(-1) == loop.index0 ? 'active' }}">
                                        {{ helper.render_menu_item(subitem, _entity_config.translation_domain|default('messages')) }}
                                    </li>
                                {% endblock menu_subitem %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% endif %}
            {% endblock menu_item %}
        {% endfor %}
    {% endblock main_menu %}
</ul>

{% block main_menu_after %}{% endblock %}
