<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Acricana</title>
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/layout.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/dashboard-ecommerce.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/users.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <!-- END: Custom CSS-->
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-messaging.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>
  {% set user = app.session.get('user') %}
  <script> 
  var userId = {{user.id}}; 
  </script>
 <script src="/firebase-messaging-sw.js"></script>

 <!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>



</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

    {% include 'menu.html.twig' %}

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Dashboard</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/dashboard">{{alumno.nombre}} {{alumno.apellido}}</a>
                                    </li>
                                    <!-- <li class="breadcrumb-item"><a href="#">Card</a>
                                    </li>
                                    <li class="breadcrumb-item active">Advance Card
                                    </li> -->
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-body">
              <div id="user-profile">
                  <div class="row">
                      <div class="col-12">
                          <div class="profile-header mb-2">
                              <div class="relative">
                                  <div class="cover-container">
                                      <img class="img-fluid bg-cover rounded-0 w-100" src="../../../app-assets/images/profile/user-uploads/cover.png" alt="User Profile Image">
                                  </div>
                                  <div class="profile-img-container d-flex align-items-center justify-content-between">
                                      <img src="{{alumno.businessUnit.logoUrl}}" class="rounded-circle img-border box-shadow-1" alt="Card image">
                                      <!-- <div class="float-right">
                                          <button type="button" class="btn btn-icon btn-icon rounded-circle btn-primary mr-1">
                                              <i class="feather icon-edit-2"></i>
                                          </button>
                                          <button type="button" class="btn btn-icon btn-icon rounded-circle btn-primary">
                                              <i class="feather icon-settings"></i>
                                          </button>
                                      </div> -->
                                  </div>
                              </div>
                              <div class="d-flex justify-content-end align-items-center profile-header-nav">
                                  <!-- <nav class="navbar navbar-expand-sm w-100 pr-0">
                                      <button class="navbar-toggler pr-0" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                          <span class="navbar-toggler-icon"><i class="feather icon-align-justify"></i></span>
                                      </button>
                                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                          <ul class="navbar-nav justify-content-around w-75 ml-sm-auto">
                                              <li class="nav-item px-sm-0">
                                                  <a href="#" class="nav-link font-small-3">Timeline</a>
                                              </li>
                                              <li class="nav-item px-sm-0">
                                                  <a href="#" class="nav-link font-small-3">About</a>
                                              </li>
                                              <li class="nav-item px-sm-0">
                                                  <a href="#" class="nav-link font-small-3">Photos</a>
                                              </li>
                                              <li class="nav-item px-sm-0">
                                                  <a href="#" class="nav-link font-small-3">Friends</a>
                                              </li>
                                              <li class="nav-item px-sm-0">
                                                  <a href="#" class="nav-link font-small-3">Videos</a>
                                              </li>
                                              <li class="nav-item px-sm-0">
                                                  <a href="#" class="nav-link font-small-3">Events</a>
                                              </li>
                                          </ul>
                                      </div>
                                  </nav> -->
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              <!-- Timeline Starts -->
              <section id="timeline-card">
                  <div class="row">
                      <div class="col-lg-6 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>{{alumno.nombre}} {{alumno.apellido}}</h4><br>
                            </div>
                            <div class="card-body">
                                <!-- <p>Tart I love sugar plum I love oat cake. Sweet roll caramels I love jujubes. Topping cake wafer.</p> -->
                                <div class="mt-1">
                                    <p><strong>Ciclo: </strong>{{alumno.cursos.ciclo.nombre}} <strong>Curso: </strong> {{alumno.cursos.nombre}} <strong>Division: </strong> {{alumno.cursos.division.nombre}}  </p>
                                </div>
                                <div class="mt-1">
                                  <h6 class="mb-0">Preceptores:</h6>
                                  {% for p in alumno.cursos.preceptores %}
                                  <p>{{p.nombre}} {{p.apellido}}</p>
                                  {% endfor %}
                                </div>
                                <div class="mt-1">
                                    <h6 class="mb-0">DNI / Pasaporte:</h6>
                                    <p>{{alumno.dni}}</p>
                                </div>
                                <div class="mt-1">
                                    <h6 class="mb-0">Padres:</h6>
                                    {% for p in alumno.padres %}
                                        <p>{{p.nombre}} {{p.apellido}}: <storng>Cel</strong> {{p.telefono}}
                                    {% endfor %}
                                    
                                </div>
                                <div class="mt-1">
                                    <h6 class="mb-0">Direccion:</h6>
                                    <p>{{alumno.direccion}}</p>

                                </div>

                                <!-- <div class="mt-1">
                                    <h6 class="mb-0">Website:</h6>
                                    <p>www.pixinvent.com</p>
                                </div> -->
                                <!-- <div class="mt-1">
                                    <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i class="feather icon-facebook"></i></button>
                                    <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i class="feather icon-twitter"></i></button>
                                    <button type="button" class="btn btn-sm btn-icon btn-primary p-25"><i class="feather icon-instagram"></i></button>
                                </div> -->
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-sm-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <h4>Información</h4>
                                <i class="feather icon-more-horizontal cursor-pointer"></i>
                            </div>

                            <div class="card-body">
                            <div class="d-flex justify-content-start align-items-center mb-1">

                                  <div class="user-page-info">
                                      <h6 class="mb-0">Información de la cursada</h6>
                                      <span class="font-small-2">Materias, Horarios, Plan de estudios</span>
                                  </div>
                                  {% if alumno.cursos.horario != null %}
                                    <a href='/images/{{alumno.cursos.horario}}' class="btn btn-primary btn-icon ml-auto"><i class="feather icon-file"></i></a>
                                    {% endif %}
                            </div>
                              <h4>Materias</h4>
                              {% for m in alumno.cursos.materias %}
                                <div class="d-flex justify-content-start align-items-center mb-1">

                                    <div class="user-page-info">
                                        <h6 class="mb-0">{{m.nombre}}</h6>
                                        <span class="font-small-2">{{m.profesor.nombre}} {{m.profesor.apellido}}</span>
                                    </div>
                                      <!-- <button type="button" class="btn btn-primary btn-icon ml-auto"><i class="feather icon-file"></i></button> -->
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- <div class="card">

                            <div class="card-content">
                              <div class="card-body text-center">
                                  <h4>Cuaderno de comunicados</h4>
                                  <p class="">Cuarto Grado</p>
                                  <div class="card-btns d-flex justify-content-center">
                                      <button class="btn btn-outline-primary">ver mas</button>
                                  </div>
                                  <div class="card-btns d-flex justify-content-center">
                                      <button class="btn btn-outline-primary">ver mas</button>
                                  </div>
                                  <div class="card-btns d-flex justify-content-center">
                                      <button class="btn btn-outline-primary">ver mas</button>
                                  </div>

                              </div>
                            </div>
                        </div> -->
                  </div>
              </section>
              <!-- Timeline Ends -->
              <div class="card-header">
                  <h4>Cuaderno de comunicados</h4>

              </div>
              <!-- Basic example and Profile cards section start -->
              <section id="basic-examples">
                  <div class="row match-height">
                      <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- <img class="card-img img-fluid mb-1" src="../../../app-assets/images/pages/content-img-3.jpg" alt="Card image cap"> -->
                                    <h5 class="my-1">Comunicados</h5>
                                    <!-- <div class="d-flex justify-content-between">
                                        <small class="float-left font-weight-bold mb-25" id="example-caption-1">$ 5975</small>
                                        <small class="float-right  mb-25" id="example-caption-2">$ 8000</small>
                                    </div> -->
                                    <div class="progress progress-bar-primary box-shadow-6">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="75" aria-valuemax="100" style="width:100%" aria-describedby="example-caption-2"></div>
                                    </div>
                                    <div class="card-btns d-flex justify-content-between">
                                        <!-- <a href="#" class="btn gradient-light-primary white">Download</a> -->
                                        <a href="/comunicados?alumnoId={{alumno.id}}" class="btn btn-outline-primary float-right">Ver comunicados</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>

                      <div class="col-xl-6 col-md-6 col-sm-12">
                          <div class="card">
                              <div class="card-content">
                                  <div class="card-body">
                                      <!-- <img class="card-img img-fluid mb-1" src="../../../app-assets/images/pages/content-img-3.jpg" alt="Card image cap"> -->
                                      <h5 class="my-1">Mensajes</h5>
                                      <!-- <div class="d-flex justify-content-between">
                                          <small class="float-left font-weight-bold mb-25" id="example-caption-1">$ 5975</small>
                                          <small class="float-right  mb-25" id="example-caption-2">$ 8000</small>
                                      </div> -->
                                      <div class="progress progress-bar-primary box-shadow-6">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="75" aria-valuemax="100" style="width:100%" aria-describedby="example-caption-2"></div>
                                      </div>
                                      <div class="card-btns d-flex justify-content-between">
                                          <!-- <a href="#" class="btn gradient-light-primary white">Download</a> -->
                                          <a href="/mensajes?alumnoId={{alumno.id}}" class="btn btn-outline-primary float-right">Ver mensajes</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Profile Cards Starts -->






            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix blue-grey lighten-2 mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">Acricana - Cuaderno de Comunicados V0.1 - Powered by <a class="text-bold-800 grey darken-2" href="#" target="_blank">Movius</a></span><span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i class="feather icon-heart pink"></i></span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/pages/app-chat.js"></script>
        <script src="../../../app-assets/js/scripts/pages/user-profile.js"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>
