<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Vuexy admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Vuexy admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Acricana</title>
    <link rel="manifest" href="../../../manifest.json" />
    <link rel="apple-touch-icon" href="../../../app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/layout.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/themes/semi-dark-layout.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/dashboard-ecommerce.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="dark-layout">

  <!-- BEGIN: Header-->
  <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav  navbar-shadow">
      <div class="navbar-wrapper">
          <div class="navbar-container content">
              <div class="navbar-collapse" id="navbar-mobile">
                  <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                      <ul class="nav navbar-nav">
                          <li class="nav-item mobile-menu d-xl-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ficon feather icon-menu"></i></a></li>
                      </ul>


                  </div>
                  <ul class="nav navbar-nav float-right">

                      <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon feather icon-bell"></i><span class="badge badge-pill badge-primary badge-up">2</span></a>
                          <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                              <li class="dropdown-menu-header">
                                  <div class="dropdown-header m-0 p-2">
                                      <h3 class="white">2 Nuevas</h3><span class="notification-title">Notificaciones</span>
                                  </div>
                              </li>
                              <li class="scrollable-container media-list"><a class="d-flex justify-content-between" href="javascript:void(0)">

                                  </a><a class="d-flex justify-content-between" href="javascript:void(0)">

                                  </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                      <div class="media d-flex align-items-start">
                                          <div class="media-left"><i class="feather icon-alert-triangle font-medium-5 danger"></i></div>
                                          <div class="media-body">
                                              <h6 class="danger media-heading yellow darken-3">Llamado de atención</h6></div><small>
                                              <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">Hoy</time></small>
                                      </div>
                                  </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                      <div class="media d-flex align-items-start">
                                          <div class="media-left"><i class="feather icon-check-circle font-medium-5 info"></i></div>
                                          <div class="media-body">
                                              <h6 class="info media-heading">Nuevo comunicado</h6>
                                          </div><small>
                                              <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">Semana pasada</time></small>
                                      </div>
                                  </a><a class="d-flex justify-content-between" href="javascript:void(0)">

                                  </a></li>

                          </ul>
                      </li>
                      <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                              <div class="user-nav d-sm-flex d-none"><span class="user-name text-bold-600">Florentino Fonzi</span></div><span>  <div class="avatar mr-1">
                                    <span class="avatar-content">FF</span>
                                </div></span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="page-user-profile.html"><i class="feather icon-user"></i> Tomas Fonzi</a><a class="dropdown-item" href="app-email.html"><i class="feather icon-user"></i> Dolores Fonzi</a><div class="dropdown-divider"></div><a class="dropdown-item" href="auth-login.html"><i class="feather icon-power"></i> Logout</a>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>

  <!-- END: Header-->


  <!-- BEGIN: Main Menu-->
  <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
      <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
              <li class="nav-item mr-auto"><a class="navbar-brand" href="../../../html/ltr/vertical-menu-template-dark/index.html">
                      <div class="brand-logo"></div>
                      <h2 class="brand-text mb-0">ACRICANA</h2>
                  </a></li>
              <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
          </ul>
      </div>
      <div class="shadow-bottom"></div>
      <div class="main-menu-content">
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
              <li class=" nav-item"><a href="inicio.html"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span></a>
                  <!-- <ul class="menu-content">
                      <li><a href="dashboard-analytics.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Analytics">Home</span></a>
                      </li>

                  </ul> -->
              </li>
              <li class=" navigation-header"><span>Apps</span>
              </li>
              <li class=" nav-item"><a href="alumno.html"><i class="feather icon-user"></i><span class="menu-title" data-i18n="Email">Alumno</span></a>
              </li>
              <li class=" nav-item"><a href="comunicados.html"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Email">Comunicados</span></a>
              </li>
              <li class="active nav-item"><a href="llamados-atencion.html"><i class="feather icon-message-square"></i><span class="menu-title" data-i18n="Chat">Llamados de atencion</span></a>
              </li>
              <li class=" nav-item"><a href="mensajes.html"><i class="feather icon-mail"></i><span class="menu-title" data-i18n="Todo">Mensajes</span></a>
              </li>

            <!-- <li class=" nav-item"><a href="#"><i class="feather icon-unlock"></i><span class="menu-title" data-i18n="Authentication">Authentication</span></a>
                  <ul class="menu-content">
                      <li><a href="auth-login.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Login">Login</span></a>
                      </li>
                      <li><a href="auth-register.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Register">Register</span></a>
                      </li>
                      <li><a href="auth-forgot-password.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Forgot Password">Forgot Password</span></a>
                      </li>
                      <li><a href="auth-reset-password.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Reset Password">Reset Password</span></a>
                      </li>
                      <li><a href="auth-lock-screen.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Lock Screen">Lock Screen</span></a>
                      </li>
                  </ul>
              </li> -->

          </ul>
      </div>
  </div>
  <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Dashboard</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="inicio.html">Inicio</a>
                                    </li>
                                    <!-- <li class="breadcrumb-item"><a href="#">Card</a>
                                    </li>
                                    <li class="breadcrumb-item active">Advance Card
                                    </li> -->
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content-body">
              <!-- Timeline Starts -->
              <section id="timeline-card">
                  <div class="row">
                      <div class="col-lg-6 col-sm-12">
                        <div class="card">

                            <div class="card-content">
                                <div class="card-body text-center">
                                    <h4>Tomas Fonzi</h4>
                                    <p class="">Primer Grado</p>
                                    <div class="card-btns d-flex justify-content-center">
                                        <button class="btn btn-outline-primary">Ver mas</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-sm-12">
                        <div class="card">

                            <div class="card-content">
                              <div class="card-body text-center">
                                  <h4>Dolores Fonzi</h4>
                                  <p class="">Cuarto Grado</p>
                                  <div class="card-btns d-flex justify-content-center">
                                      <button class="btn btn-outline-primary">ver mas</button>

                                  </div>

                              </div>
                            </div>
                        </div>
                  </div>
              </section>
              <!-- Timeline Ends -->






            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix blue-grey lighten-2 mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">Acricana - Cuaderno de Comunicados V0.1 - Powered by <a class="text-bold-800 grey darken-2" href="#" target="_blank">Movius</a></span><span class="float-md-right d-none d-md-block">Hand-crafted & Made with<i class="feather icon-heart pink"></i></span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <script src="../../../app-assets/js/scripts/components.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/pages/app-chat.js"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>
