<!-- BEGIN: Header-->

{% set user = app.session.get('user') %}
{% set alumnos = app.session.get('alumnos') %}
{% set logoUrl = app.session.get('logoUrl') %}
{% set bu = app.session.get('bu') %}
  <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav  navbar-shadow">
      <div class="navbar-wrapper">
          <div class="navbar-container content">
              <div class="navbar-collapse" id="navbar-mobile">
                  <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                      <ul class="nav navbar-nav">
                          <li class="nav-item mobile-menu d-xl-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ficon feather icon-menu"></i></a></li>
                      </ul>


                  </div>
                  <ul class="nav navbar-nav float-right">

                      {# <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon feather icon-bell"></i><span class="badge badge-pill badge-primary badge-up">2</span></a> #}
                          <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                              <li class="dropdown-menu-header">
                                  <div class="dropdown-header m-0 p-2">
                                      <h3 class="white">2 Nuevas</h3><span class="notification-title">Notificaciones</span>
                                  </div>
                              </li>
                              <li class="scrollable-container media-list"><a class="d-flex justify-content-between" href="javascript:void(0)">

                                  </a><a class="d-flex justify-content-between" href="javascript:void(0)">

                                  </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                      <div class="media d-flex align-items-start">
                                          <div class="media-left"><i class="feather icon-alert-triangle font-medium-5 danger"></i></div>
                                          <div class="media-body">
                                              <h6 class="danger media-heading yellow darken-3">Llamado de atención</h6></div><small>
                                              <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">Hoy</time></small>
                                      </div>
                                  </a><a class="d-flex justify-content-between" href="javascript:void(0)">
                                      <div class="media d-flex align-items-start">
                                          <div class="media-left"><i class="feather icon-check-circle font-medium-5 info"></i></div>
                                          <div class="media-body">
                                              <h6 class="info media-heading">Nuevo comunicado</h6>
                                          </div><small>
                                              <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">Semana pasada</time></small>
                                      </div>
                                  </a><a class="d-flex justify-content-between" href="javascript:void(0)">

                                  </a></li>

                          </ul>
                      </li>
                      <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                              <div class="user-nav d-sm-flex d-none"><span class="user-name text-bold-600">{{user.usernameCanonical}}</span></div><span>  <div class="avatar mr-1">
                                    <span class="avatar-content">FF</span>
                                </div></span>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">
                          {% for a in alumnos %}
                            <a class="dropdown-item" href="/alumno/{{a.id}}"><i class="feather icon-user"></i>{{a.nombre}} {{a.apellido}}</a>
                            {% endfor %}
                            
                            <a class="dropdown-item" href="/cerrar-session"><i class="feather icon-power"></i> Logout</a>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>

  <!-- END: Header-->


  <!-- BEGIN: Main Menu-->
  <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
      <div class="navbar-header">
          <ul class="nav navbar-nav flex-row">
              <li class="nav-item mr-auto"><a class="navbar-brand" href="/dashboard">
                      <img src="{{logoUrl}}" style="height: 60px"/>
                      <h2 class="brand-text mb-0">{{ bu == 1 ? 'ACRICANA' : 'ALS' }}</h2>
                  </a></li>
              <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary" data-ticon="icon-disc"></i></a></li>
          </ul>
      </div>
      <div class="shadow-bottom"></div>
      <div class="main-menu-content">
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
              <li class=" nav-item"><a href="/dashboard"><i class="feather icon-home"></i><span class="menu-title" data-i18n="Dashboard">Dashboard</span></a>
                  
              </li>
              <li class=" navigation-header"><span>Apps</span>
              </li>
              <li class=" nav-item"><a href="/comunicados"><i class="feather icon-check-square"></i><span class="menu-title" data-i18n="Email">Comunicados</span></a>
              </li>
              <li class=" nav-item"><a href="/mensajes"><i class="feather icon-mail"></i><span class="menu-title" data-i18n="Todo">Mensajes</span></a>
              </li>

            <!-- <li class=" nav-item"><a href="#"><i class="feather icon-unlock"></i><span class="menu-title" data-i18n="Authentication">Authentication</span></a>
                  <ul class="menu-content">
                      <li><a href="auth-login.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Login">Login</span></a>
                      </li>
                      <li><a href="auth-register.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Register">Register</span></a>
                      </li>
                      <li><a href="auth-forgot-password.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Forgot Password">Forgot Password</span></a>
                      </li>
                      <li><a href="auth-reset-password.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Reset Password">Reset Password</span></a>
                      </li>
                      <li><a href="auth-lock-screen.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="Lock Screen">Lock Screen</span></a>
                      </li>
                  </ul>
              </li> -->

          </ul>
      </div>
  </div>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <!-- END: Main Menu-->